/*Awww yeah! Click snap! Check it!*/
.banner{
    align-self: center;
    color: #e195ff;
    background-color: rgb(12, 126, 97);
    border-radius: 6px;
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    align-content: center;
    padding: 20px;
    margin-bottom: 4px; 
    margin-top: 4px;
}
.content{
    border-radius: 7px;
    background: #75e2af;
    margin: auto;
    width: 70%;
    margin-left: auto;
   margin-right: auto;
   display: block;
   margin-bottom: 5px;
   padding-left: 15px;
   padding-top: 4px;
   padding-bottom:10px;
   margin-top: 20px;
}
body{
    font-family: montserrat, monospace, bold;
    background-image: url("background purple-01.png");
    background-size: 500px;

}
img{
    display: inline;
    float: left;
}
.datebox{
    color: #8710be;
    background-color: rgb(92, 221, 189);
    border-radius: 6px;
    height: 30px;
    width: 900px;
    margin-left: 9%;
    margin-right: auto;
    font-size: large;
    align-content: center;
    padding: 11px;
    margin-bottom: 4px; 
}
.imageBanner{
   width: 97%;
   height: 400px;
   object-fit: cover;
   border:#04291f solid 3px;
   border-radius: 18px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-bottom: 10px;


}

input[type=text], input[type=date]{
    color: #496b63;
    background: #92ebd4;
    text-align: center;
    border-radius: 2px;
    cursor: text;
}
button{
    background: #156852;
    color: #23b895;
    text-align: center;
    border-radius: 12px;
}
