
/*Awww yeah! Click snap! Check it!*/
.banner{
    align-self: center;
    color: #ffffff;
    background-color: rgb(49, 49, 49);
    border-radius: 6px;
    height: 100px;
    width: 87%;
    margin-left: 0%;
    margin-right: auto;
    font-size: xx-large;
    align-content: center;
    padding: 20px;
    margin-bottom: 4px; 
    margin-top: 4px;
}
.content{
    border-radius: 7px;
    background: #80868b;
    margin: auto;
    width: 70%;
    margin-left: auto;
   margin-right: auto;
   display: block;
   margin-bottom: 5px;
   padding-left: 15px;
   padding-top: 4px;
   padding-bottom:10px;
   margin-top: 20px;
}
body{
    font-family: montserrat, monospace, bold;
    background-size: 500px;
}
img{
    display: inline;
    float: left;
}
.datebox{
    color: #3b3c3d;
    background-color: rgb(145, 145, 145);
    border-radius: 6px;
    height: 24px;
    width: 850px;
    margin-left: 0%;
    margin-right: auto;
    font-size: large;
    align-content: center;
    padding: 11px;
    margin-bottom: 4px; 
}
.imageBanner{
   width: 97%;
   height: 400px;
   object-fit: cover;
   border:#04291f solid 3px;
   border-radius: 18px;
   margin-left: auto;
   margin-right: margin-left;
   display: block;
   margin-bottom: 10px;


}

input[type=text], input[type=date]{
    color: #496b63;
    background: #92ebd4;
    text-align: center;
    border-radius: 2px;
    cursor: text;
}
button{
    background: #156852;
    color: #23b895;
    text-align: center;
    border-radius: 12px;
}

input{
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px; 
    font-size: 14px;
    border: 2px solid #496b63;
}
.sidebar{
    padding-left: 10px;
    height: 33%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top:0;
    right:0;
    left: auto;
    overflow-x: hidden;
    padding-top: 3px;
    border-bottom-left-radius:13px;
}


.amethyst{
    color: #d78df5;
    background-image: url("backgrounds/amethyst.png");
    body &{
        background: #42095c;
        a {
            color: #bf00ff;
        }
    }
    
}

.apatite{
    color: #81adff;
    background-image: url("backgrounds/apatite.png");
    body &{
        background: #11498a;
        a{
            color: #0a76fa;
        }
    }
    
}

.aquamarine{
    background-image: url("backgrounds/aquamarine.png");
    color: #8deef5;
    body &{
        background: #097e7e;
        a {
            color: #00ffff;
        }
    }
    
}

.citrine{
    background-image: url("backgrounds/citrine.png");
    color: #f5f38d;
    body &{
        background: #5c4909;
         a {
            color: #ffff00;
        }
    }
   
}

.diamond{
    background-image: url("backgrounds/diamond.png");
    color: #e6e6e6;
    body &{
        background: #646464;
        a {
            color:#bdf1e5;
        }
    }
    

}
.emerald{
    background-image: url("backgrounds/emerald.png");
    color: #7ef8c9;
    body &{
        background: #095c4e;
        a {
            color:#11f3a4;
        }
    }
  
}

.hematite{
    background-image: url("backgrounds/hematite.png");
    color: #616161;
    body &{
        background: #111111;
        a {
            color:#5b455d;
        }
    }
    

}
.jacinth{
    background-image: url("backgrounds/jacinth.png");
    color: #f5998d;
    body &{
        background: #5c1509;
        a {
            color: #ff4400
        }
    }
    

}
.kunzite{
    background-image: url("backgrounds/kunzite.png");
    color: #f58ddb;
    body &{
        background: #5c094e;
        a {
            color:#ff00a6
        }
    }
    

}
.peridot{
    background-image: url("backgrounds/peridot.png");
    color: #a2f58d;
    body &{
        background: #235c09;
        a {
            color:#00ff00;
        }
    }
    

}

.ruby{
    background-image: url("backgrounds/ruby.png");
    color: #f58d96;
    body &{
        background: #5c0917;
         a{
            color:#ff006a
        }
    }
   

}

.sapphire{
    background-image: url("backgrounds/sapphire.png");
    color: #8d8bf8;
    body &{
        background: #18095c;
        a {
            color: #221aef;
        }
    }
    
}

.topaz{
    background-image: url("backgrounds/topaz.png");
    color: #f5bc8d;
    body &{
        background: #5c360b;
        a  {
            color:#ffa200;
        }
    }


}
.ynglarite{
    background-image: url("backgrounds/ynglarite.png");
    color: #c0c0c0;
    body &{
        background: #292929;
        a {
            color:#ffffff;
        }

    }
    

}
